<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tutorial of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.message}"></h2>
    <p th:text="#{content.inputmessage}"></p>
    <div th:unless="${#strings.isEmpty(previous)}">
        <p th:text="#{content.lastmessage} + '「' + ${previous} + '」でした。'"></p>
    </div>
    <form method="post" action="/output">
        <input type="text" name="previous">
        <button type="submit" th:text="#{content.sendmessage}"></button>
    </form>

</body>
</html>